<html>
  <body>
    <p>
      <b>Title:</b><%= @book.title %>
    </p>
    <p>
      <b>Body:</b><%= @book.body %>
    </p>
    <a class="edit" href="books/:id/edit">edit</a>
    |
    <a class="back" href="books">back</a>
  </body>
</html>